body {
        background-color:#d4944e;
        color:#1a3842;
        font-family:Roboto; 
        font-size:20px;
           

}

h1, h2, h3, h4, h5, h6 {
 
  font-family:Grenze Gotisch;
  font-size: 40pt; 
  text-align: center;

}
 header {

    text-align: center;
    background-color:#E69E50 ;
 }

 #hero, footer {
   text-align: center;
   background-color:#964E00;
   font-size: 20px;
   border: 3px solid #45a4c7; 
   overflow:hidden;

 }

/* Hero Section*/
 #hero img {

         width: 320px;
         max-width:100%;
         background-color:#964E00;
         padding: 10px;
 }
/* bio Section*/
 #bio {
        
        text-align: center;


 }
/* Hobbies */
 #hobbies ul li:nth-child(even) {
   color:rgb(61, 2, 2);
   

 }
 #hobbies ul {
  padding: 2rem;
  border-radius:5px;
  box-shadow: 6px 7px 15px rgba(0,0,0, .5);
 }
 #hobbies {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  


 }
 
 /* Gallery */

 #gallery {

  border: 2px solid cornflowerblue; 
}

#gallery img {

  max-width:100%;

}
#gallery figure {

  text-align: center;
}

/* Literature */

#Lit {
  border: 2px solid cornsilk; 
  margin-bottom:2rem;

}
#Lit div {
  padding:2rem;
  margin: 0 auto;
}

#Lit div p  {
  padding:0.3rem 0;
  clear:both;
}

#Lit div p:first-child:first-letter {
  color: aqua;
  float: left;
  clear: left;
  font-size: 3em;
  padding-left:.5ex;
  padding-right:.5ex;
  line-height:.65;
  border: 5px Solid yellowgreen;
  padding-right:.10ex;
  padding: .8ex;
  background-image: radial-gradient(rgb(228, 15, 15), rgb(238, 158, 9));
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

  /* Tablet state */ 
  @media screen and (min-width: 960px) {
    figure {
      display:grid;
    grid-template-columns: 2fr 1fr;
    }
 
    figcaption {
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      margin-left: 1rem;
    }

    
   
    #lit div {
      max-width: 100%;
      columns: 20rem;
    }
   
   } /* large screen size */ 
   @media screen and (min-width: 100em) {

      #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

      }
      hr {
        display: none;
      }
      #gallery h2 {
        grid-column: 1/-1;
      }
      figure {
        display: block;
      }
      #Lit div {
        max-width:100%;
        columns: 40rem;
      }
   }
   
   #myVideo {
     text-align:center;
     padding-bottom: 30px;

   }

    #myVideo iframe {
      max-width:100%;
      border: 5px solid #964E00;
    }

    #formElements {
      display:grid;
      row-gap:1em;
      text-align: left;
      color: skyblue;


    }
    #contact {
      padding: 1rem;
      max-width: 600px;
      margin: 2rem auto;

    }
    fieldset {
      border: 2px solid #964E00;
      margin-bottom: 1em;
      border-radius: 2em;
    }
    legend {
      background-color:#964E00;
      color: white;
      padding: .5em;
    }
    
    #contact input, #contact textarea, #contact select, #contact button {
     
      font-size: 1em;
    }
#contact ul {
  list-style: none;
  padding: 0px;
}
#contact li {
  margin: 1rem;

}
   #contact button {
     background-color: #964E00;
     color: white;
     border: 1px solid;
     max-width: 400px;
     width: 50%;
     justify-self: center;
   } 