body {
        background-color:#E69E50;
        color:#1a3842;
        font-family:Roboto; 
        font-size:20px;
           

}

h1, h2, h3, h4, h5, h6 {
 
  font-family:Grenze Gotisch;
  font-size: 40pt; 
  text-align: center;

}
 header {

    text-align: center;
    background-color:#E69E50 ;
 }

 #hero, footer {
   text-align: center;
   background-color:#964E00;
   padding: 10px;
   font-size: 20px;
   border: 3px solid #45a4c7; 


 }

/* Hero Section*/
 #hero img {

         width: 320px;
         background-color:#964E00;
         padding: 10px;
 }
/* bio Section*/
 #bio {
        
        text-align: center;


 }
/* Hobbies */
 #hobbies ul li:nth-child(even) {
   color:rgb(61, 2, 2);

 }
 
 /* Gallery */

 #gallery {

  border: 2px solid cornflowerblue; 
}

#gallery img {

  max-width:100%;

}
#gallery figure {

  text-align: center;
}

/* Literature */

#Lit {
  border: 2px solid cornsilk; 
  margin-bottom:2rem;

}
#Lit div {
  padding:2rem;
  max-width: 40rem;
  margin: 0 auto;
}

#Lit div p  {
  padding:0.3rem 0;
}

#Lit div p::first-letter {
  color: aqua;
  float: left;
  font-size: 3em;
  padding:.35em;
  line-height:.65;
  border: 2px solid red
}
 


